/* Adjusts page content to fit properly 
without unwanted vertical scroll */
body {
    background-color: whitesmoke;
    min-height: 98.9vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.card {
    align-items: center;
    text-align: center;
}

/* Specifies the with of each grid element to 
fit any screen */
.container {
    display: grid;
    grid-template-columns: 22% auto 22%;
    grid-gap: 5%;
    align-self: center;
    justify-content: center;
    
}

.accordion {
    margin-top: 20px;
}

/* Displays the pieces in rows */
.line {
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
}

/* Adjusts cell width */
.cell {
    width: 12.5%;
}

/* Adds a border to the game board and
forces the content to shape into a square*/
#border {
    justify-self: center;
    width: 50vw;
    height: 50vw;
    background-color: midnightblue;
    justify-content: center;
    border-radius: 3%;
    align-self: center;
}

/*Reduces the board size to allow the border 
to show and centers itself*/
#board {
    width: 90%;
    height: 90%;
    transform: translate(5.5%, 5.5%);
}

.player {
    background-color: orange;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.player_name {
    background-color: midnightblue;
    color: skyblue;
    margin: 7%;
    padding: 7%;
    text-align: center;
    border-radius: 8px;
}

/* Sets piece as backround image of div
element and resizes it to make image fit
properly with flex-grow and flex-basis 
properties */
#p1-color, #p2-color {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 0.5;
    flex-basis: 100px;
}

/* Fills board with white pieces */
#p1-color {
    background-image: url("/resources/images/piece_white.png");
}

/* Fills board with black pieces */
#p2-color {
    background-image: url("/resources/images/piece_black.png");
}

/* Resize modal piece images to fit
and adds a zoom-in transition animation */
#p1-w, #p1-b, #p2-w, #p2-b {
    margin: 1.2em;
    align-self: center;
    width: 30%;
    height: 30%;
    transition: .2s;
}

/* Zooms in modal piece images as specified 
on mouse over action */
#p1-w:hover, #p1-b:hover, #p2-w:hover, #p2-b:hover {
    transform: scale(1.5);
}

/* Zooms in a little further the piece image
that has been clicked on */
.piece_selected {
    transform: scale(1.35);
}

#player_info {
    background-color: midnightblue;
    color: skyblue;
    margin: 7%;
    text-align: center;
    border-radius: 8px;
}

.player img {
    align-self: center;
    max-width: 85%;
    overflow: auto;
}

.piece_num {
    font-size: 3vw;
}

#p1-surrender, #p2-surrender {
    
    margin: 0em 0.5em 1em 0.5em;
    text-align: center;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.3em #999;
}

/* Changes button color on mouse over action */
#surrender_btn:hover {
    background-color: #3e8e41
}

/* Adds sinkage effect to the button */
#surrender_btn:active {
    background-color: #3e8e41;
    box-shadow: 0 0.3em #666;
    transform: translateY(4px);
}

/* Cell highlight of correct selected piece */
.glow-white {
    z-index: 100;
    box-shadow: 0em 0em 1em rgb(255, 255, 255);
}

/* Cell highlight of possible position where the 
piece can move to */
.glow-green {
    z-index: 100;
    box-shadow: 0em 0em 1em #33ff00;
}

/* Cell highlight of incorrect selected piece */
.glow-red {
    z-index: 100;
    box-shadow: 0em 0em 1em #ff0000;
}

/* Darker cell color */
.checker-blue{
    background-color: rgb(34, 77, 158);
    
}

/* Lighter cell color */
.checker-light_blue{
    background-color: rgb(75, 119, 250);
}

/* Queries the screen orientation and hides the "force 
rotation" message when in landscape mode (horizontal) 
in order to show the modal and the game content */

@media only screen and (orientation:landscape) {
    #force_rotation {
        display: none;
    }
}

/* Queries the screen oreintation and shows the "force 
rotation" message when in portrait mode (vertical) in 
order to hide the game content. The modal is being hid 
by javascript code */

@media only screen and (orientation:portrait) {
    #force_rotation {
        display: block;       
        padding-top: 3em;
        padding-bottom: 3em;
        text-align: center;
        background-color:rgb(199, 45, 45);
        color: white;
        font-size: 1em;
        width: 100%;
        
    }
    .container {
        display: none;
    }
}
