* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.main_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    height: 100vh;
    background-color: red;
}

.board {
    width: 90%;
    height: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: green;
}

.line {
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
}

.cell {
    width: 12.5%;
}

.down_subcontainer {
    width: 90%;
    height: 10%;
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: orange;
}

@media only screen and (orientation: portrait) {
    div.main_container {
        width: 100vw;
        height: 100vw;
    }
}